.card {
  background-color: var(--card-color);
  color: var(--card-text-color);
  padding: 32px;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  border-radius: 16px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
}

.card form {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.card section {
  display: flex;
  gap: 1rem;
  flex-direction: column;
}

.buttonBar {
  display: flex;
  justify-content: space-between;
  flex-direction: row !important;
}

.buttonBar > section {
  display: flex;
  gap: 1rem;
  flex-direction: row;
  justify-content: center;
}
