services:
  postgres:
    image: postgres
    networks:
      - internal
    environment:
      POSTGRES_DB: uowbo
      POSTGRES_USER: uowbo
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
    ports:
      - 5432:5432
    restart: no

networks:
  internal:
