.skeleton {
  border-radius: 16px;
  background: linear-gradient(90deg, #ddda 40%, #efefefaa, #ddda 60%) right /
    300% 100%;
  animation: skeleton-loading 1.5s linear infinite;
}

@keyframes skeleton-loading {
  to {
    background-position: left;
  }
}

@media (prefers-color-scheme: dark) {
  .skeleton {
    background: linear-gradient(
        90deg,
        rgba(40, 40, 40, 0.667) 40%,
        #5d5d5daa,
        rgba(40, 40, 40, 0.667) 60%
      )
      right / 300% 100%;
  }
}
