.screen {
  width: 100%;
  flex-grow: 1;
  min-height: 0;
  display: flex;
  gap: 16px;
  /* padding: 16px; */
  flex-direction: column;
  justify-content: flex-start;
}

.screen h1 {
  margin: 0;
}

.list {
  width: 400px;
  min-width: 400px;
}

.usableSection {
  border-bottom: solid 1px var(--border-color);
  box-sizing: border-box;
  padding: 16px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* flex-direction: column; */
  gap: 16px;
}

.card {
  /* background-color: var(--border-color); */
  border: solid 1px var(--border-color);
  border-radius: 8px;
  padding: 16px;
  box-sizing: border-box;
  display: flex;
  gap: 16px;
  flex-direction: column;
}
