.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
}

.buttonStrip {
  display: flex;
  gap: 16px;
  padding: 16px;
  padding-bottom: 0;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  overflow: auto;
}
