.background {
  display: flex;
  min-height: 100vh;
  width: 100%;
  flex-direction: column;
  align-items: center;
  background-color: var(--background-color);
}

.container {
  width: 900px;
  max-width: 100%;
  padding: 32px;
  box-sizing: border-box;
  border-right: 1px solid #000;
  border-left: 1px solid #000;
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.eventMeta {
  display: flex;
  flex-direction: column;
  gap: 16px;
  align-items: flex-start;
  justify-content: center;
}

.eventMeta h1 {
  font-size: 24px;
  margin: 0;
}

.eventDescription {
  display: flex;
  gap: 8px;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}

.infoBox {
  background-color: var(--border-color);
  padding: 16px;
  display: flex;
  flex-direction: column;
  gap: 8px;
  border-radius: 16px;
  box-sizing: border-box;
}

.infoBox span {
  text-transform: uppercase;
  font-weight: 700;
  font-size: 14px;
  color: var(--active-color);
}
