:root {
  --accent-color: #c95151;
  --accent-color-transparent: rgba(201, 81, 81, 0.1);
  --accent-color-contrast: white;
  --text-color-bare: white;
  --card-color: white;
  --card-text-color: black;
  --card-borders-color: rgba(0, 0, 0, 0.2);
}

html,
body {
  padding: 0;
  font-size: 16px;
  margin: 0;
  background-color: var(--accent-color);
  color: var(--text-color-bare);
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
input {
  margin: 0;
  padding: 0;
  font-family: var(--font-satoshi);
}

h1 {
  font-size: 1.75rem;
}

p,
input {
  font-size: 1.125rem;
  font-weight: 500;
}

* {
  box-sizing: border-box;
}
