:root {
  --accent-color: #c95151;
  --text-color-bare: white;
  --card-color: white;
  --card-text-color: black;
}

html,
body {
  padding: 0;
  font-size: 16px;
  margin: 0;
  background-color: var(--accent-color);
  color: var(--text-color-bare);
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
}

p {
  font-size: 1.125rem;
}

* {
  box-sizing: border-box;
}
