.button {
  display: flex;
  justify-content: center;
  gap: 8px;
  padding: 0.75rem 1rem;
  background-color: var(--accent-color-transparent);
  color: var(--accent-color);
  border: none;
  border-radius: 16px;
}

.accented {
  background-color: var(--accent-color);
  color: var(--accent-color-contrast);
}
