:root {
  --background-color: rgba(255, 255, 255, 1);
  --text-color: rgba(0, 0, 0, 1);
  --border-color: rgba(0, 0, 0, 0.1);
  --active-color: rgba(0, 0, 0, 0.2);
  --opacity-layer: rgba(0, 0, 0, 0.5);
  --text-opacity: rgba(0, 0, 0, 0.5);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background-color: rgb(20, 17, 17);
    --text-color: rgba(255, 255, 255, 1);
    --border-color: rgba(255, 255, 255, 0.2);
    --active-color: rgba(255, 255, 255, 0.3);
    --opacity-layer: rgba(255, 255, 255, 0.1);
    --text-opacity: rgba(255, 255, 255, 0.5);
  }
}

body {
  background-color: black;
  background-image: url("/images/verify-background.webp");
  background-attachment: fixed;
  background-size: cover;
  margin: 0;
}

.card {
  display: flex;
  flex-direction: column;
  background-color: var(--background-color);
  gap: 16px;
  padding: 16px;
  box-sizing: border-box;
  width: 400px;
  border-radius: 16px;
}

.profile {
  display: flex;
}

h2 {
  font-size: 16px;
  line-height: 16px;
}

h2,
p {
  font-size: 16px;
  padding: 0;
  margin: 0;
}

input[type="text"],
input[type="email"],
input[type="password"],
input[type="datetime-local"],
textarea,
select {
  outline: none;
  background-color: var(--background-color);
  border: solid 1px var(--border-color);
  border-radius: 8px;
  padding: 8px;
  box-sizing: border-box;
  font-size: 16px;
  font-family: var(--inter);
}

input[type="checkbox"] {
  width: 16px;
  height: 16px;
  border-radius: 8px;
}

.cardFooter {
  display: flex;
  justify-content: space-between;
  width: 400px;
}

.cardContainer {
  /* paddingTop: 200px
  paddingBottom: 200px,
  boxSizing: "border-box",
  alignItems: "center",
  minHeight: "100vh",
  flexDirection: "column",
  margin: 0,
  display: "flex",
  justifyContent: "flex-start", */

  padding-top: 200px;
  padding-bottom: 200px;
  box-sizing: border-box;
  align-items: center;
  min-height: 100vh;
  flex-direction: column;
  margin: 0;
  display: flex;
  gap: 8px;
  justify-content: flex-start;
}

button {
  display: flex;
  justify-content: space-between;
  gap: 8px;
  padding: 12px;
  box-sizing: border-box;
  align-items: center;
  background-color: var(--background-color);
  border: 0;
  font-size: 16px;
  font-family: "Inter";
  border-radius: 50px;
  text-decoration: none;
}

button:hover {
  background-color: var(--border-color);
}

button:active {
  background-color: var(--active-color);
}

a {
  text-decoration: none;
}

.floating-strip {
  display: flex;
  padding: 4px;
  gap: 4px;
  background-color: var(--background-color);
  border-radius: 16px;
}

.floating-strip a {
  border-radius: 13px;
  padding: 16px;
}

.floating-strip a:hover {
  background-color: var(--border-color);
}

.load {
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@media only screen and (max-width: 579px) {
  body {
    display: flex;
    height: fit-content;
    background-color: var(--background-color);
    padding-top: 0;
    padding-bottom: 0;
    background-image: none;
  }
  .cardContainer {
    padding-top: 0;
    padding-bottom: 32px;
    width: 100%;
  }
  .card {
    width: 100%;
    border-radius: 0px;
  }
  .cardFooter {
    width: 100%;
    padding: 16px;
    box-sizing: border-box;
  }

  button {
    border: solid 1px var(--border-color);
  }
}

.remove-card-holder_svg__card-holder {
  display: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
a,
label,
span,
button,
svg,
textarea,
input,
select,
ul,
li,
ol {
  color: var(--text-color);
}

/* .remove-card-holder_svg__card {
  animation: upRightAndBack 4s ease;
}

@keyframes upRightAndBack {
  0%,
  100% {
    transform: translateX(0px) translateY(0px);
  }

  50% {
    transform: translateX(50px) translateY(-10px);
  }
}

@keyframes moveLeft {
  0% {
    transform: translateX(0px);
    opacity: 1;
  }

  100% {
    transform: translateX(-50px);
    opacity: 0;
  }
} */

.error {
  color: red;
}
