.screen {
  width: 100%;
  flex-grow: 1;
  min-height: 0;
  display: flex;
  /* gap: 16px; */
  justify-content: flex-start;
  flex-direction: row;
}

.list {
  width: 400px;
  min-width: 400px;
  padding: 16px;
  display: flex;
  box-sizing: border-box;
  flex-direction: column;
  gap: 8px;
}

.list button {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 8px;
  border-radius: 8px;
  width: 100%;
}

.listFooter {
  width: 100%;
  text-align: center;
  color: rgba(0, 0, 0, 0.54);
}

.listFooter a {
  color: rgba(0, 0, 0, 0.54);
}

.active {
  background-color: rgba(0, 0, 0, 0.1);
}

.settings {
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding: 16px;
  width: 100%;
  box-sizing: border-box;
}

.settings h1 {
  margin: 0;
}

.checkbox {
  display: flex;
  gap: 8px;
  align-items: center;
}
